@{
    ViewData["Title"] = "Home Page";
}
@model List<Recipe_Maker.Models.User>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if (Model.Any() == false)
        {
            <div class="card">
                <div class="card-body">
                    <p>There are no users.</p>
                </div>
            </div>
        }
        else
        {
            @foreach (var user in Model)
            {
                <div class="card my-3 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@user.Username</h4>
                            <p class="card-text">@user.Id</p>
                            <p class="card-text">@user.RoleId</p>
                        </div>
                    </div>

                </div>
            }
        }
    </p>
</div>
