@using BusinessObjects;
@{
    ViewData["Title"] = "Recipes";
}
@model List<BusinessObjects.Recipe>

<div class="text-center">
    <h1 class="display-4">Recipes</h1>
    <p>
        <button type="button" class="btn btn-primary" asp-action="Add" asp-controller="Recipe">
            Add recipe
        </button>
    </p>
    <p>
        @if (Model.Count < 1)
        {
            <div class="card">
                <div class="card-body">
                    <p>There are no recipes.</p>
                </div>
            </div>
        }
        else
        {
            @foreach (Recipe recipe in Model)
            {
                <div class="card my-3 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@recipe.Name</h4>
                            <p class="card-text">Id = @recipe.Id</p>
                            <p class="card-text">Ingredients:</p>
                            @foreach(Ingredient ingredient in recipe.Ingredients)
                            {
                                <p class="card-text">@ingredient.Name</p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </p>
</div>
